* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.container h1{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 3rem;
  text-align: center;
}

.box ul li{
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(deepskyblue, transparent, transparent);
  bottom: 0;
  left: 10vw;
  animation: animate 15s linear infinite;
}

.box ul li:nth-child(2){
  left: 37vw;
  animation-delay: 2s;

}
.box ul li:nth-child(3){
  left: 25vw;
  animation-delay: 4s;

}
.box ul li:nth-child(4){
  left: 60vw;
  animation-delay: 6s;

}
.box ul li:nth-child(5){
  left: 75vw;
  animation-delay: 4s;
}

@keyframes animate{
  0%{
    opacity: 1;
    bottom: 0;
    transform: scale(0);
  }
  100%{
    opacity: 0;
    bottom: 100vh;
    transform: scale(10);
  }
}